<!DOCTYPE html>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<html lang="en" ng-app="myApp" ng-controller="DcController">
  <head>
    </head>

 
		<div>
			<input type="text" ng-model="search"></input>
	
        </div>
	<img ng-show="search!==''" src="https://fc.cab.unipd.it/fedora/objects/o:{{search}}/methods/bdef:Asset/getThumbnail"></img>
		
	<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in details.metadata.dc">
          <td>{{$index + 1}}</td>
          <td>
            <a href="" ng-click="showobject(object.metadata)">
              {{object.xmlname}}
            </a>
          </td>
          <td>{{object.ui_value}}</td>
         
        </tr>
      </tbody>
    </table>


<script>



angular.module('myApp', [])
  .controller('DcController', function($scope, $http){
    $scope.$watch('search', function() {
      fetch();
    });

    $scope.search = "";

    function fetch(){
      
	  
	  
	 $http.get("https://phaidra.cab.unipd.it/api/object/o:" + $scope.search + "/dc")
     .then(function(response){ 
		$scope.details = response.data; 
		console.log(JSON.stringify($scope.details));
	});
	 
	 
	 
	 
	

     
    }

    $scope.update = function(dublincore){
      $scope.search = dublincore.metadata.dc;
    };

    $scope.select = function(){
      this.setSelectionRange(0, this.value.length);
    }
  });













</script>
  </body>
</html>
